.header1{
    top: 34px;
    left: 786px;
    width: 32px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 2px;
    color: #F9C745;
    opacity: 1;
}
.header2{
    top: 34px;
    left: 866px;
    width: 64px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.header3{
    top: 34px;
    left: 978px;
    width: 64px;
    height: 22px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;   
}
.header4{
    top: 34px;
    left: 1090px;
    width: 64px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.header5{
    top: 34px;
    left: 1252px;
    width: 80px;
    height: 22px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.home01{
    top: 978px;
    left: 172px;
    width: 648px;
    height: 486px;
    float:left;
    background: transparent url('img/home01.png') 0% 0% no-repeat padding-box;
    opacity: 1;    
}
.service{
    top: 1076px;
    left: 868px;
    width: 74px;
    height: 39px;
    float:left;
    height: 1800px;
    text-align: center;
    font: normal normal bold 24px/39px Kalam;
    letter-spacing: 0px;
    float: right;
    color: #F9C745;
    opacity: 1; 
}
.service1{
    float: right;
    padding: 80px 30px 0px 0px;
    top: 1177px;
    left: 868px;
    width: 650px;
    height: 214px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 1.28px;
    color: #3A3A3A;
    opacity: 1;
  }
.title01{
    top: 1544px;
    left: 595px;
    width: 250px;
    height: 134px;
    float: center;
    background: transparent url('img/title01.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.recommand {
    ul {
        margin: 0 -12px;
        @include pad {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    li {
        margin: 0 12px;
        text-align: left;
        margin-bottom: 80px;
        box-shadow: 0px 2px 6px 0px shadow;

        @include pad {
            width: 40%;
        }

        @include phone {
            width: 100%;
        }
    }
    img{
        width: 100%;
    }
    .name {
        margin: 16px 0 8px 16px;
    }
    .comment {
        margin: 0 0 48px 16px;
    }
    .date {
        color: $date;
        padding-bottom: 16px;
        margin-left: 16px;
    }
}
